body {
  color: #023047;
  background-color: #fefae0;
}

#nombre {
  font-family: "Pixelify Sans", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
  font-weight: 700;
}

.titulos {
  font-family: "Pixelify Sans", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
  font-weight: 400;
  color: #fb8500;
}

#about {
  background-image: url("./assets/img/bg-hero.jpg");
  background-color: #cccccc; /* Used if the image is unavailable */
  background-position: center; /* Center the image */
  background-repeat: no-repeat; /* Do not repeat the image */
  background-size: cover;
}

nav {
  background-color: #023047;
}

section {
  padding-top: 5rem;
  padding-bottom: 10rem;
}

.social-icons .social-icon {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  height: 3.5rem;
  width: 3.5rem;
  background-color: #fb8500;
  color: #fff;
  border-radius: 100%;
  font-size: 1.5rem;
  margin-right: 1.5rem;
  text-decoration: none;
}

footer .social-icons .social-icon {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  height: 3.5rem;
  width: 3.5rem;
  background-color: #fb8500;
  color: #fff;
  border-radius: 100%;
  font-size: 1.5rem;
  margin-right: 1.5rem;
}

.dev-icons {
  font-size: 3rem;
}

footer {
  background-color: #023047;
  color: aliceblue;
  text-align: center;
  padding-left: 3rem;
  padding-right: 3rem;
  padding-top: 3rem;
  padding-bottom: 5rem;
}
.menu-footer a {
  color: aliceblue;
  text-decoration: none;
}

.menu-footer a :hover {
  color: #fb8500;
  text-decoration: none;
}

/* PortaFOLIO */
